body{
    background-color: black ;
    color: azure;
    font-family: sans-serif;
}

#heading-container{
    display: flex;
    flex-direction: column;
}

#price{
    padding-bottom: 20px;
    font-size: 30px;  
}

#bidask{
    font-size: 16px;
    padding-bottom: 20px;
}

#last{
    padding-bottom: 5px;
    font-size: 12px;
}

#newest-fills{
    padding-bottom: 20px;
    font-size: 12px;
}

#labels{
    padding-top: 30px;
    padding-bottom: 10px;
}

#asks-grid-container{
    padding-left: 75px;
}

form {
    width: 760px;
    border:3px solid #1f1e1e;    
    background-color: #333333;
}

#orderForm{
    padding-left: 20px;
}

input#submitprice, input#submitamount {
    height: 30px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: #333333;
    color: azure;
}

input#submitprice {
    width: 110px;
}

input#submitamount {
    width: 70px;
}

#send-order-container{
    padding-bottom: 30px;
}

button {
    padding: 10px;
    background-color: darkslategray;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#submitside{
    background-color: #f0f0f0;
    color:#000000;
    font-size: 20px;
}

select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
}

#bidask-table-container{
    flex: 0 0 600px;
    display: flex;
    flex-direction: column;
    width:600px;
}

#askTable{
    margin-left: 300px;
}

#bidTable{
    width: 300px;
}

#askTable th:first-child,
#askTable td:first-child {
        /* first column in askTable */
        width: 100px;
        text-align: left;
    }

#askTable th:nth-child(2),
#askTable td:nth-child(2) {
    /* second column in askTable */
    width: 100px;
    text-align: left;        
}

#bidTable th:first-child,
#bidTable td:first-child {
    /* first column in bidTable */
    width: 100px;
    text-align: right;
}

#bidTable th:nth-child(2),
#bidTable td:nth-child(2) {
    /* second column in bidTable */
    width: 100px;
    text-align: right;
}

#bidask-labels-container {
    display: flex;
    padding-bottom: 10px;
}

#bid-label, #ask-label {
    display: inline-block;
    width: 300px;
    text-align: center;
    font-size: 20px;
}

#price-label {
    display: inline-block;
    width: 300px;
    text-align: center;
    font-size: 20px;
}


#bottom-portion{
    display: flex;
}

#tsContainer{        
    flex:1;
    overflow-y: auto; /* vertical scrollbar if needed */
}

#tsTable td{
    border-right: 30px solid transparent;
}

#tsTable thead{
    background-color: #f0f0f0;
    font-weight: bold;
    color:#000000;
}

#submitbutton{
    margin-left: 20px;
}

#randombutton{
    margin-left: 40px;
    background-color: rgb(0, 90, 180);
}

#updatebutton{
    margin-left: 20px;
    background-color: rgb(0, 90, 180);
}


@media (min-width: 800px) {
    #tsContainer {
        padding-left: 200px;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease;
}

