<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>MarketSim</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- add React from CDN -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel" src="/static/react.js"></script>
</head>
<body>
    <div id="main-container">

        <div id="top-portion">
            <div id="heading-container">
                <div id="price"></div>
                <div id="ask-price"></div>
                <div id="bid-price"></div>
                <div id="newest-order-container">
                    <div id="last"></div>
                    <div id="newest-fills"></div>
                </div>
            </div>
            
            <div id="send-order-container">
                <form id="orderForm">
                    <label for="price">Limit Price:</label>
                    <input type="number" id="submitprice" name="price" step="0.01" min="1" required>
                
                    <label for="amount">Quantity:</label>
                    <input type="number" id="submitamount" name="amount" step="1" min="1" required>
                
                    <label for="side">Side:</label>
                    <select id="submitside" name="side" required>
                        <option value="bid">Buy</option>
                        <option value="ask">Sell</option>
                    </select>            
                    <button type="button" id="submitbutton" onclick="submitOrder()">Submit Order</button>
                    <button type="button" id="updatebutton" onclick="getOrderBook()">Refresh OrderBook</button>
                </form>
            </div>
        </div>

        
        <div id="bottom-portion">
            <div id="bidask-table-container">
                <div id="bidask-labels-container">
                    <div id="bid-label">Buy</div>
                    <div id="price-label">Price</div>
                    <div id="ask-label">Sell</div>
                </div>            
                <table id="askTable">
                    <thead>
                    </thead>
                    <tbody id="askTableBody"></tbody>
                </table>
        
                <table id="bidTable">
                    <thead>
                    </thead>
                    <tbody id="bidTableBody"></tbody>
                </table>
            </div>

            <div id="tsContainer">
                <table id="tsTable">
                    <thead><tr><th colspan="2" style="text-align: center">Trades</th></tr></thead>
                    <tbody id="tsTableBody"></tbody>
                </table>
            </div>
        </div> 
               
    </div>

</body>
</html>
